<script setup lang="ts">
import HandingUserinput from "./components/HandingUserinput.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import AttributeBlindings from "./components/AttributeBlindings.vue";
import CondirtionsAndLoops from "./components/CondirtionsAndLoops.vue";
import FormBinding from "./components/FormBinding.vue";
import SimpleComponemt from "./components/SimpleComponemt.vue";

</script>

<template>
  <div>
    <SimpleComponemt></SimpleComponemt>
    <br>
    <FormBinding></FormBinding>
    <br>
    <CondirtionsAndLoops></CondirtionsAndLoops>
    <br>
    <br>
    <AttributeBlindings></AttributeBlindings>
    <HandingUserinput></HandingUserinput>
    <CalComponent></CalComponent>
    <HelloWorldExample></HelloWorldExample>
  </div>
</template>

<style scoped>
  .center_text {
            text-align: center;
            font-size: 20px;
            margin: 5px;
        }

        .card {
            padding: 10px;
            border-style: solid;
            width: 400px;
            text-align: center;
        }

        .w100px {
            width: 101px;
        }
</style>
